@import "./colors/everforest.css";
@import "./colors/nord.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 17px;
  font-weight: bold;
}


window#waybar {
  background-color: @red;
  color: @bg2;


 transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: .5s;

 border-bottom-width: 2px;
 border-bottom-color: #7d6a40;
 border-bottom-style: solid;
}


#tray{

  background-color: @bg0;
  color: @fg;

  padding: 0px 8px;
  margin-top: 3px;
  margin-bottom: 4px;
	border-radius: 10px;

  border-radius: 20px 4px 20px 20px;

}


#clock,
#clock-date,
#battery{
  background-color: @bg0;
  color: @fg;

  padding: 0px 12px;
  margin-top: 6px;
  margin-bottom: 4px;
	border-radius: 10px;

  border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}




/*music */


/* Reset the buttons inside the group */
#mpris {
  color: @yellow;
    padding: 0px 10px;
    margin: 0px;
    font-size: 18px;
    min-width: 15px;
}

/* Hover effects */
#mpris{ 

    color: @nord2; /* Purple */
}


/* audio */
#pulseaudio{
  background-color: @bg0;
  color: @fg;

  padding: 0px 11px;
  margin-top: 5px;
  margin-bottom: 5px;
	border-radius: 10px;
  border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}



/* brightness */
#backlight{
  background-color: @bg0;
  color: @fg;

  padding: 0px 11px;
  margin-top: 5px;
  margin-bottom: 5px;
	border-radius: 10px;
  border-bottom-width: 4px;

  border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}


/* wifi */
#network{
  background-color: @bg0;
  color: @fg;

  padding: 0px 19px;
  padding-top: 2px;
  padding-right:23px;
  margin-top: 6px;
  margin-bottom: 4px;
  border-bottom-width: 4px;
	border-radius: 10px;

  border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}



#custom-powermenu {
  background-color: @green;
  color: @bg0;
  border-bottom-color: #951c1f;

  margin-top: 10px;
  margin-bottom: 11px;
	border-radius: 10px;
  padding-left: 13px;
  padding-right: 15px;
}

#bluetooth{
  background-color: @bg0;
  color: @fg;
  margin-top: 5px;
  font-size: 20px;
  padding: 2px 8px;
  padding-left: 18px;
  margin-bottom: 4px;
	border-radius: 10px;

 border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}



#workspaces button{

  background-color: @bg0;
  color: @fg;
	border-radius: 10px;
  padding: 6px 12px;

  /* margin: 13px 0px; */
  margin-top: 6px;
  margin-bottom: 4px;
  border-bottom-width: 4px;
  border-bottom-color: #366660;
  border-bottom-style: solid;
}


#workspaces button.active {
  background-color: @nord9;
  color: @bg0;

  border-bottom-width:0px;
}


#workspaces button:hover {
    margin-top: 8px;  
  background-color: @bg0;
  color: @nord6;
  border-bottom-width:0px;
}





#custom-menu {
    background-color: @bg0;
  color: @fg;
  font-size: 30px;

  padding-left: 12px;
  padding-right: 23px;
  

  margin-top: 0px;
  margin-bottom: 0px;

}

#custom-powermenu{
  background-color: @green;
  color: @bg1;


  margin-top: 5px;
  margin-bottom: 5px;

  border-radius:10px;
  border-bottom-width: 4px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}


/*Hover */

#bluetooth:hover,
#custom-launcher:hover,
#clock:hover,
#backlight:hover,
#clock-date:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#custom-powermenu:hover{
    margin-top: 7px;  
    
    /* Shrink the border by 3px (4px - 3px = 1px) */
    border-bottom-width: 0px; 
    

  border-bottom-style: solid;
}




/*for left and right padding */
.modules-left > widget:first-child > * {
    margin-left: 0px;
    margin-right: 2px;
}
.modules-right > widget:last-child > * {
    margin-left: 4px;
    margin-right: 10px;
}
