/* Global styles */
* {
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    sans-serif;
  font-size: 20px;
  color: #ffffff;
}

/* Main bar */
#waybar {
  /* background: rgba(30, 30, 46, 0.8); */
    background: #202224;
  /* border-radius: 5px; */
}

/* Workspaces */
#workspaces button {
  padding: 0 14px;
  background: transparent;
  font-size: 18px;
  color: #ffffff;
}

#workspaces button.focused {
  background: #3b4261; /* Hover effect */
  color: #17294a;
}

#workspaces button:hover {
  background: #3b4261; /* Hover effect */
  background: #585b70; /* Hover color */
}

#workspaces button.active {
  background: #3781bf; /* Active workspace color */
  color: #1e1e2e;
  font-weight: bold; /* Make active workspace text bold */
  border-radius: 1px;
}

#pulseaudio,
#battery,
#custom-music,
#network,
#tray,
#hyprland-window,
#backlight {
  padding: 2px 12px;
  padding-right: 10px;

  background: transparent;
  color: #ffffff;
  border-radius: 9px;
  font-weight: bold;
  font-size: 20px;
}

#custom-powermenu:hover,
#tray:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#battery:hover {
  background-color: rgba(88, 91, 112, 0.71);
  border: 1px solid rgba(236, 239, 244, 0.2);
  border-radius: 8px;
}

#bluetooth {
  border-radius: 8px;
  color: #888888;
  font-size: 24px;
  padding: 0 12px;
}
#bluetooth.on {
  color: #2196f3;
}
#bluetooth.connected {
  color: #99d1db;
}

#custom-powermenu {
  color: #b4befe;
  padding: 0 18px;
}

#mpris {
  margin: 0 3px;
  color: #82bcf2;
  border-radius: 6px;
  padding: 0 6px;
}

#mpris:hover {
  background-color: rgba(88, 91, 112, 0.71);
  border: 1px solid rgba(236, 239, 244, 0.2);
}


